* {
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper {
    height: 960px;
}

.menu {
    display: flex;
}

.logo {
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: auto;
}

.link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 56px;
    margin-top: 48px;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    margin-top: 38px;
    margin-right: 80px;
    margin-left: auto;
}

.header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    color: #FFFFFF;
    width: 920px;
    height: 180px;
    margin-top: 188px;
    margin-left: 312px;
}

.clock {
    display: flex;
    margin-left: 312px;
    margin-top: 50px;
}

.square {
    width: 102px;
    height: 112px;
    background: #121212;
    margin-right: 30px;
}

.number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #FFFFFF;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.undertext {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.4;
    padding-left: 31.5px;
    padding-right: 31.5px;
    padding-bottom: 20px
}