* {
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper {
    height: 960px;
    background-image: url(../images/main-screen__bgc.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    background-image: url(../images/bgc.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    display: flex;
}

.logo {
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: auto;
}

.link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 56px;
    margin-top: 48px;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    margin-top: 38px;
    margin-right: 80px;
    margin-left: auto;
}

.header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    color: #FFFFFF;
    width: 920px;
    height: 180px;
    margin-top: 188px;
    margin-left: 312px;
}

.clock {
    display: flex;
    margin-left: 312px;
    margin-top: 50px;
}

.square {
    width: 102px;
    height: 112px;
    background: #121212;
    margin-right: 30px;
}

.number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #FFFFFF;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.undertext {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.4;
    padding-left: 31.5px;
    padding-right: 31.5px;
    padding-bottom: 20px
}

.wrapper_2 {
    background: #121212;
    display: flex;
    height: 130px;
}

.order {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    height: 24px;
    margin-top: 43px;
    margin-left: 312px;
}

.b1 {
    display: flex;
}

.block_1 {
    margin-right: 81px;
    margin-left: auto;
    margin-top: 36px;
}

.b1_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.4;
    margin-right: 101px;
}

.b1_count {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.block_2 {
    margin-right: auto;
    margin-top: 35px;
}

.b2 {
    display: flex;
}

.b2_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.4;
    margin-right: 30px;
}

.b2_count {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.b3 {
    display: flex;
}

.b3_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.4;
    margin-right: 30px;
}

.b3_count {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.progress_bar {
    width: 714px;
    height: 6px;
}

progress::-webkit-progress-bar {
  background: #FFFFFF;
}
 
progress::-webkit-progress-value {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.hero {
    display: flex;
}

.hero_image {
    margin-top: 200px;
    margin-left: 312px;
    margin-right: 136px;
    margin-bottom: 200px;
}

.hero_block {
    margin-right: auto;
}

.hero_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
    margin-top: 269px;
}

.hero_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    width: 636px;
    margin-top: 45px;
}

.qs_header {
    display: flex;
    margin-left: 293px;
}

.qs_icon {
    width: 127px;
    height: 127px;
    margin-right: 20px;
}

.qs_name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
    align-self: center;
}

.qs_desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.5;
    width: 411px;
    margin-top: 20px;
    margin-left: 317px;
}

.proc {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding-bottom: 200px;
}

.col_count {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #FFFFFF;
}

.col_desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.5;
    width: 306px;
}

.fs_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    width: 810px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}

.col_wrapper {
    display: flex;
    justify-content: center;
}

.col_img {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.fs_col {
    margin-bottom: 231px;
}

.fs_col_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    width: 416px;
    margin-bottom: 30px;
}

.fs_col_desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    width: 328px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pg_img {
    width: 127px;
    height: 127px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(134deg);
    margin-bottom: 31px;
}

.pg_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    width: 485px;
    margin-left: auto;
    margin-right: auto;
}

.pg_desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
    width: 411px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.sk_wrapper {
    display: flex;
    justify-content: center;
}

.block_wrapper {
    display: flex;
}

.left_col_name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 15px;
}

.left_col_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: right;
    color: #FFFFFF;
    width: 228px;
    margin-bottom: 87px;
}

.line {
    width: 40px;
    height: 0px;
    opacity: 0.3;
    border: 1px solid #FFFFFF;
    margin-top: 26px;
    margin-left: 20px;
}

.sep {
    width: 6px;
    height: 677px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.right_col_name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    text-align: left;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 15px;
}

.right_col_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: left;
    color: #FFFFFF;
    width: 228px;
    margin-bottom: 95px;
}

.line_2 {
    width: 40px;
    height: 0px;
    opacity: 0.3;
    border: 1px solid #FFFFFF;
    margin-top: 26px;
    margin-right: 20px;
}

.prep_header {
    display: flex;
}

.pr_hd_img {
    width: 127px;
    height: 127px;
    transform: rotate(-44deg);
    margin-left: 266px;
}

.pr_hd_name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
    width: 481px;
    align-self: center;
}

.prep_block {
    display: flex;
    justify-content: center;
    margin-top: 113px;
}

.avo {
    width: 190px;
    height: 190px;
}

.prep_name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}

.prep_desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 15px;
    margin-bottom: 30px;
}

.bio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 30px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.ft_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    width: 547px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 30px;
}

.ft_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
    width: 411px;
    margin-left: auto;
    margin-right: auto;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.soc_link {
    width: 50px;
    height: 50px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

#vk {
    background-image: url(../images/vk.svg);
}

#yt {
    background-image: url(../images/youtube.svg);
}

#fb {
    background-image: url(../images/facebook.svg);
}

#ig {
    background-image: url(../images/instagram.svg);
}

.copyright {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 50px;
    padding-bottom: 30px;
}